h1
{
	text-align: center;
}


h4
{
	text-align: center;
	font-family: Georgia, serif;
}

body
{
	background-image: url(marbre2.jpg);
}


	
p {
  font-family: Georgia, serif;
}



.ifsi {background-image: url(imagerose.jpg); }

.imageys { text-align: center;
.Diapositive1 { text-align: center;
.Diapositive2 { text-align: center;
.Diapositive3 { text-align: center;


}

h5
{
	margin-left: 10%; 
}

h2
{
	margin-left: 10%;

}

